body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 14px
}

.active {
    background-color: lightgray;
}

.map {
    width: 100%;
    min-height: 600px;
}

.map path {
    stroke: black;
}

.tooltip-region {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 2px 10px;
    color: black;
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.hidden {
    display: none;
}